.logo-index {
    width: 180px;
    height: 80px;
    border-radius: 50%;
}
.navbar-toggler-icon {
   background-color: #ffffff; 
   border-radius: 5px;
}

.nav-link:hover, .album-titulo, .card-title, .footer-link {
    color:#ff3366;
}

.navbar .btn-primary {
    background-color:#ff3366; 
    border: none;
    transition: background-color 0.3s;
}
.card {
    box-shadow: 2px 2px 4px 2px rgba(12, 138, 74, 1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}